<!-- Begin content -->
<div class="row">
    <div class="col-md-12">
		<div class="panel panel-purple">
			<div class="panel-heading">
				<h3 class="panel-title" data-bind="text: currentSection().titel"></h3>
			</div>
			<div class="panel-body" data-bind="template: { name: displaySection }">
				
			</div>
			<div class="btn-group" id="navControls">
			    <button class="btn btn-purple" data-bind="enable: previousEnabled, click: previous" type="button">Vorige</button>
			    <button class="btn btn-purple"data-bind="enable: nextEnabled, click: next" type="button">Volgende</button>
			    <button class="btn btn-danger"data-bind="enable: previousEnabled, click: reset" type="button">Reset</button>
		    </div>
		</div>

	   <div id="fotolabsite">
	    	<div id="fotolab_login" class="section">
	    		<div class="row">
	    			<div class="form-group col-md-12">
		    			<label class="control-label" for="klantkey">Key</label>
			    		<input id="klantkey" class="form-control" data-bind="value: klant.key" placeholder="bv. 3653695KL"/>
		    		</div>
	    		</div>
	    	</div>

	    	<div id="fotolab_klantgegevens" class="section">
    			<div class="row">
	    			<div class="form-group col-md-12">
		    			<label class="control-label" for="klantnaam">Key</label>
			    		<input id="klantnaam" class="form-control" data-bind="value: klant.naam" placeholder="Jan Jansen"/>
		    		</div>
	    		</div>
	    		<label for="klantnaam">Naam</label>
	    		<input  id="klantnaam" data-bind="value: klant.naam"/>
	    		<label for="klantstraat">Straat</label>
	    		<input  id="klantstraat"data-bind="value: klant.straat"/>
	    		<label for="klanthuisnummer">Huisnummer</label>
	    		<input  id="klanthuisnummer"data-bind="value: klant.huisnummer"/>
	    		<label for="klantpostcode">Postcode</label>
	    		<input  id="klantpostcode"data-bind="value: klant.postcode"/>
	    		<label for="klantwoonplaats">Woonplaats</label>
	    		<input  id="klantwoonplaats"data-bind="value: klant.woonplaats"/>
	    	</div>

	    	<div id="fotolab_select_fotoserie" class="section">
	    		Fotoserie Selecteren
	    	</div>

	    	<div id="fotolab_select_fotos" class="section">
	    		Foto's Selecteren
	    	</div>

	    	<div id="fotolab_productlist" class="section">
	    		Productenlijst
	    	</div>

	    	<div id="fotolab_payment" class="section">
	    		Betaling selecteren
	    	</div>

	    	<div id="fotolab_thanks" class="section">
	    		Bedankt voor uw bestelling!
	    	</div>

	    </div>
<br /><br /><br />
	    <div id="fotolabcart" >
	    </div>

	    <p data-bind="text: currentSectionKey"></p>

	    <button data-bind="click: enableNext">Enable Next</button>



    </div>
</div>
<!-- End content-->
 