<!-- Begin content -->
<div class="row">
    <div class="col-md-12">
    	

	   <div id="fotolabsite">
	    	<div id="fotolab_login" class="section">
	    		Login
	    	</div>

	    	<div id="fotolab_select_fotoserie" class="section">
	    		Fotoserie Selecteren
	    	</div>

	    	<div id="fotolab_select_fotos" class="section">
	    		Foto's Selecteren
	    	</div>

	    	<div id="fotolab_productlist" class="section">
	    		Productenlijst
	    	</div>

	    	<div id="fotolab_klantgegevens" class="section">
	    		Klantgegevens
	    	</div>

	    	<div id="fotolab_payment" class="section">
	    		Betaling selecteren
	    	</div>

	    	<div id="fotolab_thanks" class="section">
	    		Bedankt voor uw bestelling!
	    	</div>
	        <button data-bind="click: getSections">Blaaat</button>
	    </div>

		<table>
		    <thead><tr>
		        <th>Section name</th>
		    </tr></thead>
		    <!-- Todo: Generate table body -->
		    <tbody data-bind="foreach: sections">
		        <tr>
		            <td data-bind="text: domId"></td>
		        </tr>    
		    </tbody>
		</table>



    </div>
</div>
<!-- End content-->
 