<!-- Begin content -->
<div class="row">
    <div class="col-md-12">
		<div class="panel panel-lightblue">
			<div class="panel-heading">
				<h3 class="panel-title" data-bind="text: headingTitle"></h3>
			</div>
			<div id="flashMessage" data-bind="fadeHidden: flashmessage.message().length > 1, text: flashmessage.message" class="alert alert-danger"></div>
			<div class="panel-body" data-bind="template: { name: displaySection }">
			</div>
			<div class="btn-group" id="navControls">
			    <button class="btn btn-lightblue" data-bind="enable: previousEnabled, click: previous" type="button">Vorige</button>
			    <button class="btn btn-lightblue"data-bind="enable: nextEnabled, click: next" type="button">Volgende</button>
			    <button class="btn btn-danger"data-bind="enable: previousEnabled, click: reset" type="button">Reset</button>
		    </div>
		</div>
    </div>
</div>

	   <div id="fotolabsite">


	    	<script type="text/html" id="fotolab_login">
	    		<div class="row">
	    			<div class="form-group col-md-12">
		    			<label class="control-label" for="klantkey">Voer uw klantcode in:</label>
			    		<input id="klantkey" class="form-control" data-bind="value: klant.key" placeholder="bv. 3653695KL"/>
		    		</div>
	    		</div>
	    	</script>


	    	<script type="text/html" id="fotolab_klantgegevens">
    			<div class="row">
	    			<div class="form-group col-md-12">
		    			<label class="control-label" for="klantnaam">Naam</label>
			    		<input id="klantnaam" class="form-control" data-bind="value: klant.naam" placeholder="Naam"/>
		    		</div>
	    		</div>
    			<div class="row">
    				<div class="col-md-4">
	    				<div class="row">
			    			<div class="form-group col-md-8">
				    			<label class="control-label" for="klantstraat">Straat</label>
					    		<input id="klantstraat" class="form-control" data-bind="value: klant.straat" placeholder="Straat"/>
				    		</div>
			    			<div class="form-group col-md-4">
				    			<label class="control-label" for="klanthuisnummer">Huisnummer</label>
					    		<input id="klanthuisnummer" class="form-control" data-bind="value: klant.huisnummer" placeholder="Nr."/>
				    		</div>
			    		</div>
		    		</div>
	    		</div>
    			<div class="row">
    				<div class="col-md-4">
	    				<div class="row">
			    			<div class="form-group col-md-4">
				    			<label class="control-label" for="klantpostcode">Postcode</label>
					    		<input id="klantpostcode" class="form-control" data-bind="value: klant.postcode" placeholder="Postcode"/>
				    		</div>
			    			<div class="form-group col-md-8">
				    			<label class="control-label" for="klantwoonplaats">Woonplaats</label>
					    		<input id="klantwoonplaats" class="form-control" data-bind="value: klant.woonplaats" placeholder="Woonplaats"/>
				    		</div>
			    		</div>
		    		</div>
	    		</div>
	    	</script>


	    	<script type="text/html" id="fotolab_select_fotoserie">
	    		<div class="row">
	    			<div class="form-group col-md-12">
		    			<div data-bind="template: { name: 'fotoserieImage', foreach: klant.fotoseries }">
			    		</div>
			    		<span data-bind="if: klant.fotoseries().length == 0">U heeft helaas geen fotoseries.</span>
		    		</div>
	    		</div>
	    	</script>


	    	<script type="text/html" id="fotolab_select_fotos">
	    		<div class="row">
	    			<div class="form-group col-md-12">
	    				<h2 data-bind="text: activeFotoserie().naam"></h2>
		    			<div data-bind="template: { name: 'singleFoto', foreach: activeFotoserie().fotos }">
			    		</div>
			    		<span data-bind="if: activeFotoserie().fotos.length < 1">Deze fotoserie heeft helaas geen fotos. Ga 1 stap terug en kies een andere fotoserie.</span>
		    		</div>
	    		</div>
	    	</script>


	    	<script type="text/html" id="fotolab_productlist">
	    		<table class="table">
				    <thead>
				        <tr>
				        	<th>Foto</th>
				        	<th>Extra</th>
				        	<th>Aantal</th>
				        	<th>Bedrag</th>
				        </tr>
				    </thead>
				    <tbody data-bind="foreach: order.items">
				        <tr>
				            <td><div class="productlistFotoDiv"><img class="productlistFoto" data-bind="src: foto.fotoserie.getFotoSrc(foto.id)"/></div></td>
				            <td><select data-bind="options: $root.order.availableFotoProducten(), optionsText: 'naam', value: fotoproduct"></select></td>
				            <td><input type="number" class="smallinput" data-bind="value: aantal"/></td>
				            <td data-bind="text: formattedSubTotal"></td>
				        </tr>
				    </tbody>
				    <tfoot>
				    	<tr>
				    		<td>&nbsp;</td>
				    		<td>&nbsp;</td>
				    		<td class="text-right"><strong>Totaal:</strong></td>
				     		<td><strong data-bind="text: order.formattedTotal"></strong></td>
				    	</tr>
				    </tfoot>
				</table>
	    	</script>


	    	<script type="text/html" id="fotolab_payment">
   		 		<div class="row">
    				<div class="col-md-12">
			    		<img data-bind="click: $root.order.payment.initiatePayment" src="https://www.paypalobjects.com/nl_NL/NL/i/btn/btn_paynowCC_LG.gif"/>
			    		<div data-bind="if: $root.order.payment.approveUrl().length > 0">
			    			<iframe id="paypalIframe" data-bind="src: $root.order.payment.approveUrl"></iframe>
			    		</div>
			    	</div>
			    </div>
	    	</script>


	    	<script type="text/html" id="fotolab_thanks">
	    		<img src="/Content/Images/thumbsup.jpeg" style="width:100px" />
	    	</script>

			<script type="text/html" id="fotoserieImage">
				<div class="fotoserieImage" data-bind="data_key: key, click: $root.setActiveFotoserie, lightgreenbackground: isActive">
					<h5 data-bind="text: naam"></h5>
					<img data-bind="src: randomFotoSrc()"/>
				</div>
			</script>

			<script type="text/html" id="singleFoto">
				<div class="singleFoto" >
					<img data-bind="src: $root.activeFotoserie().getFotoSrc(id), data_key: id, click: $root.order.selectFoto, redborder: isSelected, title: formattedBedrag()" />
				</div>
			</script>

	    </div>
<!--
	    
<br /><br /><br />
	    <div id="fotolabcart" >
	    </div>

	    <p data-bind="text: currentSectionKey"></p>

	    <button data-bind="click: showDebug">showDebug</button>

<table>
    <thead>
        <tr>
        	<th>id</th>
        	<th>isSelected</th>
        	<th>fotoserieNaam</th>
        </tr>
    </thead>
<tbody data-bind="foreach: order.items">
	<tr>
		<td data-bind="text: foto.id"></td>
		<td data-bind="text: foto.isSelected"></td>
		<td data-bind="text: foto.fotoserie.naam"></td>
	</tr>
</tbody>

<h4>Fotoseries</h4>
<table>
    <thead>
        <tr>
        	<th>Key</th>
        	<th>Naam</th>
        	<th>Datum</th>
        	<th>Fotos</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: klant.fotoseries">
        <tr>
            <td data-bind="text: key"></td>
            <td data-bind="text: naam"></td>
            <td data-bind="text: datum"></td>
            <td data-bind="foreach: fotos">
            	<span data-bind="text: id"></span>
            </td>
        </tr>
    </tbody>
</table>

<img src="/Content/Images/Circle-question-red.svg" width="20px" />

<span data-bind="text: activeFotoserie()"></span>
-->


<!-- End content-->
 