<div class="row">
    <div class="col-md-12">
        <div class="panel panel-lightblue">
            <div class="panel-heading">
                <h3 class="panel-title"">Bedankt voor uw bestelling!</h3>
            </div>
            <div class="panel-body">
                Bedankt voor uw bestelling!<br />
                <img src="/Content/Images/thumbsup.jpeg" style="max-width: 200px;max-height:200px;"/>
                <p></p><small>TODO: Alle producten tonen</small></p>
            </div>
        </div>
    </div>
</div>