body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

/* End Existing CSS */
/************************************/

.section {
    display: none;
}
#navControls {
    margin: 20px;
}
.btn-purple {
    background-color: #DB28FF;
    color: white;
}
.panel-purple > .panel-heading {
    background-color: #DB28FF; /*DA6BFF*/
    color: white;
    border-color: #DB28FF;
}
.panel-purple {
    border-color: #DB28FF;
}

.btn-lightblue {
    background-color: #12C8F8;
    color: white;
}
.panel-lightblue > .panel-heading {
    background-color: #12C8F8;
    color: white;
    border-color: #12C8F8;
}
.panel-lightblue {
    border-color: #12C8F8;
}

.fotoserieImage {
    float: left;
    width: 200px;
}
.fotoserieImage img {
    width: 60px;
}