<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form id="addFotoserie">
            <input type="text" name="key" />
            <input type="submit" value="Toevoegen"/>
        </form>
        <ul>
            <li><a class="btn btn-info" href="">Alle fotoseries</a></li>
            <li><a class="btn btn-info" href="">Get Id</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div id="values" class="col-md-12">

    </div>
</div>
<hr />
<form name="form1" method="post" enctype="multipart/form-data" action="~/api/Fotoserie/flappies_fotoserie_key/foto/">
    <div>
        <label for="image1">Image File</label>
        <input name="image1" type="file" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

<button id="getAllIdsButton">Alle foto id's</button>
<div id="fotoIds_values">

</div>
<script>
    window.onload = function () {
        $(document).ready(function () {
            //$("#addFotoserie").submit(function (event) {
             //   event.preventDefault();
            //
           //     var serie_key = $("input[name='key']").val();
//
           //     $.ajax({
           //         type: "GET",
           //         url: "",
           //         dataType: "json",
           //         success: function (data) {
            //            $("#values").text(data);
            //        }
            //    })
           // });

            $("#getAllIdsButton").click(function () {
                $.ajax({
                    type: "GET",
                    url: "@{Request.ApplicationPath.ToString();}/api/fotoserie/flappies_fotoserie_key/foto/", // http://localhost:2372/api/Fotoserie/flappies_fotoserie_key/Foto/All
                    dataType: "json",
                    success: function (data) {
                        $("#fotoids_values").text(data);
                    }
                })
            });
        });
    };
</script>

<div id="DeleteFoto" style="border: 1px solid red;">
    <form id="DeleteFotoForm" method="delete" action="">
        <input type="text" id="DeleteFotoFotoserieKey" name="DeleteFotoFotoserieKey" value="flappies_fotoserie_key" />
        <input type="text" id="DeleteFotoId" name="DeleteFotoId" value="1"/>
        <input type="submit" name="submit" value="Verwijderen"/>
    </form>
    <script type="text/javascript">
        $("#DeleteFotoForm").submit(function (event) {
            event.preventDefault();

            var fotoserieKey = $("#DeleteFotoFotoserieKey").val();
            var fotoId = $("#DeleteFotoId").val();

            $.ajax({
                type: "DELETE",
                url: "@{Request.ApplicationPath.ToString();}/api/fotoserie/" + fotoserieKey + "/foto/" + fotoId,
                //dataType: "json",
                success: function (data) {
                    console.log("foto verwijderd! " + data);
                },
                error: function (data) {
                    console.log("foto kon niet verwijderd worden! " + data);
                }
            })
        });
    </script>
   
</div>